:root {
	--background-color: #AAAAAA; /*85B9D6;*/
	--frame-color: #AAAAAA; /*95D0FD;*/
	--primary-color: #FFFFFF;
	--secondary-color: #FFFFFF;
	--dark-primary-color: #DDDDDD;
	--button-color: #95D0FD; /*DDDDDD;*/
	--button-hover-color: #85C9F2;
}
body {
	background-color: var(--background-color);
	background-size: 100% auto;
	background-image: url("/images/Background.jpg");
	background-repeat: no-repeat, no-repeat;
	text-align: center;
}

#chooseNameDiv {
	position: relative;
	top: 15%;
	background-color: #555 !important;
	width: 50%;
	height: auto;
	border-radius: 6px;
	left: 25%;
	background: white;
}

.centerText {
	text-align: center;
	color: white;
}

.nameBox {
	position: relative;
	left: 15%;
	text-align: center;
	width: 70%;
	border-radius: 5px;
	color: #222222;
	font-family: "Serif"
	display: block;
	font-size: 115%;
	outline: none;
	border: 0;
}

.nameBox:focus {
	/*border: 2px solid #DED;*/
    box-shadow:inset 0px 0px 0px 2px #CCC;
}

.nameBox:hover {
	box-shadow:inset 0px 0px 0px 2px #CCC;
	transition-duration: .3s;
}

.serverButton, #createServerButton, #startGameButton {
	position: relative;
	width: 30%;
	left: 35%;
	height: 6%;
	font-size: 140%;
	background-color: #3C4;
	color: white;
	outline: none;
	border-radius: 4px;
	border: 0;
}

.serverButton:hover {
	background-color: #2B3;
	transition-duration: .3s;
}

#serverList {
	position: relative;
	top: 15%;
	background-color: #555 !important;
	width: 50%;
	height: auto;
	border-radius: 6px;
	left: 25%;
	background: white;
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 1px;
}

.card {
	/*margin-top: 5px;*/
}

#createServerButton, #startGameButton {
	background-color: #2AD;
	margin-bottom: 4px;
}

#createServerButton:hover, #startGameButton:hover {
	background-color: #19C;
	transition-duration: .3s;
}

#serverLobby {
	position: relative;
	top: 15%;
	background-color: #555 !important;
	width: 50%;
	height: auto;
	border-radius: 6px;
	left: 25%;
	background: white;
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 1px;
}

.playerTag {
	position: relative;
	background-color: white;
	border-radius: 4px;
	margin-bottom: 5px;
	width: 100%;
	height: 30px;
}

.playerName {
	position: absolute;
	left: 3px;
	top: 3px;
	vertical-align: middle;
	margin-left: 5px;
}

#serverLobby {
	width: 30%;
	left: 35%;
	top: 20%;
}

.playerStatus {
	background-color: #2AE;
	border-radius: 3px;
	color: white;
	padding-left: 3px;
	padding-right: 3px;
	
	position: absolute;
	right: 3px;
	top: 3px;
}

#deadFrame {
	position: absolute;
	width: 60%;
	height: 50%;
	left: 20%;
	top: 15%;
	border-radius: 5px;
	/*background-color: #FFF;*/
	padding: 5px;
	z-index: 2;
}

#leaderboardFrame, #respawnFrame {
	position: relative;
	left: 0px;
	width: calc(33% - 5px);
	height: 100%;
	background-color: #555;
	border-radius: 5px;
	float: left;
}

#respawnFrame {
	position: relative;
	width: calc(33% - 5px);
	height: 100%;
	background-color: #555;
	border-radius: 5px;
	float: middle;
	margin-left: 5px;
}

.playerKillDiv {
	width: 100%;
}

#respawnButton, #lobbyButton {
	position: relative;
	width: 42.5%;
	left: 5%;
	height: 10%;
	top: 85%;
	font-size: 140%;
	background-color: #3C4;
	color: white;
	outline: none;
	border-radius: 4px;
	border: 0;
}

#respawnButton:hover {
	background-color: #2D3;
	transition-duration: .3s;
}

#lobbyButton {
	background-color: #3AD;
	left: calc(5% + 5px);
}

#lobbyButton:hover {
	background-color: #29C;
	transition-duration: .3s;
}